{% load staticfiles %}
<html>
<body>
<table>
    <tr><th>{% include 'main/main_title.html' %}</th></tr>
    <tr><th>{% include 'main/main_bar.html' %}</th></tr></table>
<form action="/admin_admin/admin_login/" method="post">
    {% csrf_token %}

<table>
    <tr><th><img src="{% static 'images/admin_page.jpg' %} " width="250"></th></tr>
</table>
<table>
    <tr><th><input type="number" name="cno" required placeholder="contact number"></th></tr>
    <tr><th><input type="password" name="cpswd" required placeholder="enter password"></th></tr>
    <tr><th><button type="submit">send</button> </th></tr>
</table>
    </form>
{% for message in messages %}
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endif %}
{% endfor %}
</body>
</html>