{% load staticfiles %}
<!doctype html>
<html >
  <head>
    <!-- Required meta tags -->

    <title></title>
  </head>
<body style="background-color: cornflowerblue">

<table>
    <tr><th>{% include 'main/main_title.html' %}</th></tr>
   </table>

<table align="center" border="0">
    <tr><th><img src="{% static 'images/admin_page.jpg' %}" width="120" height="120"></th>
        <th><table align="center">

<form action="/admin_admin/afteotp/" method="post">
    {% csrf_token %}

<tr><th><input type="password" name="otp" required placeholder="otp"></th></tr>
    <tr><th><button type="submit" class="btn btn-success">verifyotp</button> </th></tr>
</form></table></th></tr>

</table>
</body>
</html>